.race_result_podium {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 100px;
    gap:15px;
}
.race_result_p1,
.race_result_p2,
.race_result_p3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:33%;
    gap:10px;
}
.race_result_p1 {
    align-self: flex-end;
}
.p1_trophy {
    color: gold;
}
.race_result_p2 {
    align-self: center;
}
.p2_trophy {
    color: silver;
}
.race_result_p3 {
    align-self: center;
}
.p3_trophy {
    color: rgb(165, 99, 42);
}
.race_result_podium_img {
    width:50px;
}
.race_result_podium_driver_name {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.race_result_full {
    display: flex;
    flex-direction: column;
    gap:5px;
    background-color: var(--dark-grey);
}
.race_result_full_item {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:50px;
    width:350px;
    margin: 0 auto;
    padding:5px;
}
.race_result_full_position {
    font-size: 0.8rem;
}
.race_result_full_number {
    font-family: var(--number-font);
}
.race_result_full_driver {
    text-transform: capitalize;
    font-weight: 500;
}
.race_result_full_team {
    width:50px;
}

@media screen and (max-width:768px) {
    .race_result_podium {
        margin-bottom: 50px;
    }
}