/* Next Race Banner */
.nextRaceBanner {
    color:var(--white);
    padding:2.5% 5%;
  }
  .heroTop {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flagFill {
    width:50px;
    height:50px;
    border-radius: 10px;
  }
  .bannerHeroMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 0;
    height: 100%;
  }
  .heroMainLeft {
    width:50%;
  }
  .grandPrixName {
    padding:5px 0;
    font-size: 1.5rem;
  }
  .timerBox {
    border-top:5px solid var(--green);
    border-right: 5px solid var(--green);
    border-radius: 0 50px 0 0;
    width:75%;
    margin-top: 50px;
    padding:10px 0;
  }
  .timerTitle {
    text-transform: uppercase;
  }
  .timer {
    text-align: center;
  }
  .heroMainRight {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:25px;
    background-color: var(--trans-white);
    border-radius: 25px;
    padding: 25px;
  }
  .raceName,
  .grandPrixName {
    font-family: var(--titillium);
  }
  .raceName {
    text-align: center;
  }
  .circuitImg {
    width:100%;
  }
  .circuitCredit {
    font-size: 0.75rem;
  }
  /* Next Race banner media queries */
  @media screen and (max-width:1100px) {
    .heroMainLeft {
      width:100%;
    }
  }
  @media screen and (max-width:767px) {
    .heroMainRight {
      display: none;
    }
    .timerBox {
      width:100%;
    }
  }
  