.homepage_loader {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
  }
.races_carousel {
    display: flex;
    flex-direction: column;
}
.race_carousel_dividers {
    height:50px;
    overflow: hidden;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    color:var(--medium-grey);
    display: flex;
    align-items: center;
    background-color: var(--black);
}
.race_round {
    color:var(--white);
}
.active_race_round {
    background-color: var(--black);
}
.inactive_race_round {
    border-bottom:2px dashed var(--medium-grey);
    padding:10px 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:50px;
    height:75px;
    overflow: hidden;
}
.inactive_race_round:hover {
    cursor: pointer;
    background-color: var(--medium-grey);
}
.inactive_race_round_heading {
    width:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right:1px solid var(--light-grey);
}
.inactive_race_round_heading_text {
    font-weight: 400;
    font-size: 0.75rem;
}
.inactive_race_round_heading_number {
    font-size:1.5rem;
    font-weight: 800;
}
.inactive_race_round_img_cont {
    width:50px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inactive_race_round_img {
    width:100%;
    height:auto;
}
.inactive_race_round_chevrons {
    margin-left: auto;
    font-size: 10rem;
}