/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin:0 auto;
  padding:5px 5%;
  background-color: var(--black);
  position: relative;
}
.home_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap:5px;
}
.logo_img {
  width:25px;
  height:25px;
}
.headerRightFlex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:25px;
}
/* Mobile */
@media screen and (max-width:768px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  .header_top_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
  }
}