/* Nav / tab section */
/* Desktop */
.nav_tabs_container {
    width:100%;
}
.nav_tabs_list {
    padding:0 25px;
    width:100%;
    display: flex;
    justify-content: center;
    gap:25px;
}
.nav_tab {
    list-style: none;
    padding:10px 0;
    width:25%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    transition: all 150ms linear;
    text-decoration: none;
    color: var(--white);
}
.nav_tab:hover {
    cursor: pointer;
    transition: all 150ms linear;
    color: var(--medium-grey);
}
.nav_tab.active {
    color: var(--red);
    font-weight: 600;
    cursor:auto;
    transition: all 150ms linear;
}
.nav_tab_icon {
    margin-right:10px;
}

/* Mobile */
@media screen and (max-width:768px) {
    .nav_tabs_list {
        padding: 0;
    }
    .nav_tab {
        border-radius: 0 0 10px 10px;
    }
    .nav_tab_icon {
        margin: 0;
        font-size: 1.5rem;
    }
}

