/* Buttons */
.btn {
    font-family: var(--titillium);
    border:none;
    color:var(--white);
    border-radius: 15px;
    cursor: pointer;
    padding:10px;
    background-color: var(--red);
    width:fit-content;
    margin: 0 auto;
    font-weight: 600;
    transition: all 200ms linear;
  }
  .btn:hover,
  .btn:active {
    background-color: var(--medium-grey);
    transition: all 200ms linear;
  }
  .hideSignUpBtn {
    display: none;
  }
  .signUpBtn {
    background-color: var(--red);
    color:var(--white);
    font-size: 1rem;
  }
  .signUpBtn:hover {
    opacity: 0.8;
  }

  
  .loginBtn {
    font-size: 1rem;
    background-color: var(--black);
  }
  .loginBtn:hover {
    color: var(--medium-grey);
  }
  
  .submit_button {
    background-color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    align-self: center;
  }
  .redirect_button {
    width:100%;
    margin-top:10px;
    background: none;
  }
  .redirect_link {
    text-align: center;
    color:var(--black);
  }
  .linkBtns {
    text-decoration: none;
    color: var(--white);
  }
  